$color-primary: rgb(49, 208, 25);
$color-important: rgb(8, 88, 23);
$color-warning: rgb(255, 0, 208);
$box-shadow: 10px 10px #cfcfcf;;
$border-radius: 10;
$font-main: cursiva;
$font-secondary: monospace;